.R{
    color: aqua;
}
.E{
    color: blue;
}
.S{
    color: blueviolet;
}
.U{
    color: brown;
}
.M{
    color: cadetblue;
}
.E{
    color: chartreuse;
}
h1{
    background-color: black;
}
#D{
   color: darkblue; 
}
.O{
    color: cornflowerblue;
}
.B{
    color: crimson;
}
.J{
    color: coral;
}
.C{
    color: crimson;
}
.T{
    color: cyan;
}
.I{
    color: darkblue;
}
.V{
    color: darkgreen;
}
#Z{
    color: purple;
}
#K{
    color: crimson;
}
h2{
    background-color: black;
}
.D{
    color: coral;
}
.A{
    color: cyan;
}
.N{
    color: darkslateblue;
}
#J{
    color: darkorchid;
}
.G{
    color: darkturquoise;
}
#X{
    color: red;
}
#F{
    color: green;
}